


<div class="banner-two project-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://res.cloudinary.com/duro4nxuo/image/upload/v1571593855/Myriam%20Cohen%20Welgryn/raphael-schaller-GkinCd2enIY-unsplash_zy9h9f.jpg'); ">
  <div class="container">
    <div class="title-show">

      <div class="title-details">
        <h2><%= @book.title %> (<%= @book.year %>)</h2>
        <p><%= @book.edition_house %></p>
        <a class="btn btn-suedois-rouge" href="<%= @book.link %>" target="_blank">COMMANDER</a>
      </div>
    </div>
  </div>
</div>


<div class="container project-view-container">
  <div class="project-view-charity">
   <div class="image"> <%= image_tag @book.image, height: 600, width: 350 %> </div>
  </div>



<h6><%= @book.resume %> </h6>
<br>
<br>
<% @book.tags.each do |tag| %>
<h4>  <%= tag %> </h4>
<% end %>

</div>




